# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Some of the popular languages that Data Scientists use are:**  
Python  
R  
Julia  
and so on

**Some of the commonly used libraries used by Data Scientists include:**  Matplotlib  
Pandas  
Numpy  
Seaborn  
and so on

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin   |

Below are a few examples of evaluating **Arithmetic expressions** in **Python**

In [82]:
(3*4)+5

17

In [70]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List of popular languages of Data Science
- Libraries used in Data Science
- Some Algebraic operations in python
- Creating a Table

## **Author:** Goddati Ajay Kumar